/* Styles de la barre de navigation */

.navbar {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(#121212, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    color: white;
    padding: 0 3%;
    &__left, .navbar__right {
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        font-size: 12px;
    }
    &__right {
        justify-content: flex-end;
        gap: 20px;
    }
    &__logo {
        margin-top: 5px;
        height: 20px;
        margin-right: 20px;
    }
    &__links {
        list-style: none;
        display: flex;
        & li {
            margin-right: 20px;
            & a {
                text-decoration: none;
                color: white;
            }
        }
    }
    &__icon {
        width: 18px;
        color: white;
        cursor: pointer;
    }
    &__link {
        cursor: pointer;
    }
}

.user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    &__img {
        width: 25px;
        border-radius: 3px;
    }
    &__arrow {
        width: 8px;
    }
    &__info {
        list-style-type: none;
        display: none;
    }
}