// Class pour javascript

.display {
    display: flex;
    border: 2px solid red;
}

$margin-page: 0 3%;


@mixin current-page {
    background-color: $color-txt2;
    color: $color-txt;
}

/* Maps */

$font-size: (header: 70rem, h1: 7rem, h2: 5rem, h3: 4rem, body: 2rem, body-highlight: 5rem);
